@model List<MVCPhotoGallery.Models.Photo>
@{
    ViewBag.Title = "Photos";
}

<div class="container">
    @foreach (var photo in Model)
    {
        <div class="col-sm-4">
            <img src="@photo.Path" width="304" height="236" padding="3px" />
            <h2>
                @Html.ActionLink(@photo.Title, "Details", "Photo", new { @id = photo.Id }, null)
            </h2>    
               
        </div>
    }
</div>

